<div class="window">
    <div class="window_bar">
        <div class="window_bar_button"></div>
        <div class="window_bar_button"></div>
        <div class="window_bar_button"></div>
    </div>
    <div class="window_contents">
    <% if local_assigns[:form] %>
        <h3>terminal header</h3>
        <%= form_with(url: local_assigns[:url], model: local_assigns[:model], id: "sign_up") do |form| %>
            <fieldset class="form_line" for="email">
                <%= form.label :email, "Email",class: "command" %>
                <%= form.email_field :email %>
                <output for="email" id="email_output" onclick="focus_input(this)"></output>
            </fieldset>
            <fieldset class="form_line" for="password">
                <%= form.label :password, "Password", class: "command" %>
                <%= form.password_field :password %>
                <output for="password" id="password_output" onclick="focus_input(this)"></output>
            </fieldset>
            <fieldset class="form_line" for="password_confirm">
                <%= form.label :password_confirm, "Repeat your password", class: "command" %>
                <%= form.password_field :password_confirm %>
                <output for="password_confirm" id="password_confirm_output" onclick="focus_input(this)"></output>
            </fieldset>
            <%= form.submit "RUN CODE" %>
        <% end %>
    <% else %>
        <p>there is no form.</p>
    <% end %>
    </div>
</div>

<script>
    // this updates the output to mimic the input so that it looks like the user is typing (but with a custom cursor)
    const form = document.getElementById('sign_up');
    form.addEventListener('input', function(event) {
        field = event.srcElement.name;
        field_input = document.getElementById(`${field}`);
        field_output = document.getElementById(`${field}_output`);
        if (!field.includes("password")) {
            field_output.value = field_input.value;
        } else {
            if (field_input.value.length === 0) {
                field_output.value = "";
            } else if (field_input.value.length < field_output.value.length) {
                field_output.value = field_output.value.slice(0, -1);
            } else if (field_input.value.length > field_output.value.length) {
                field_output.value = field_output.value + "*";
            } else {
                console.log("huh");
            }
        }
    });


    // this adds a class to the content of the email box if it's invalid just to spice things up
    const email_input = document.getElementById('email');
    const email_output = document.getElementById('email_output');
    email_input.addEventListener('focusout', function() {
        if (!email_input.checkValidity()) {
            email_output.classList.add("output_invalid");
            email_output.value = "you're lying to me";
        } else {
            if (email_output.classList.contains("output_invalid")) {
                email_output.classList.remove("output_invalid");
            }
        }
    });

    // this allows the user's focus to be on the input even though it's hidden/unclickable underneath the output
    function focus_input(output) {
        output.previousElementSibling.focus();
    }
</script>